body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  max-width: 100%;
  margin: 0 auto;
  background: url(assets/bg.png);
  background-size: cover;
  background-position: center;
  height: 1000px;
  overflow-y: scroll;
}

header {
  background-color: #606c38;
  color: #fefae0;
  padding: 1px;
  text-align: center;
}

nav {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 1px;
  text-align: center;
}

nav a {
  display: inline-block;
  margin: 0 10px;
  color: #283618;
  text-decoration: none;
  font-weight: bold;
  border-radius: 2vh;
  padding: 3px 8px;
}

nav a:hover {
  background-color: #283618;
  color: #fefae0;
}

.blog-posts {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 50px;
  width: auto;
  font-size: auto;
}

.post {
  background-color: #606c38;
  padding: 10px;
  margin-bottom: 20px;
  width: auto;
  max-width: 50%;
  box-shadow: 0 0.4rem 0.8rem #0005;
  border-radius: 2vh;
}

.post .post-image {
  width: 25%;
  margin: 2%;
  border-radius: 10%;
  box-shadow: 1px #0005;
  border: 1.5px solid;
  border-radius: 2vh;
}

.left {
  float: left;
}

.post h2 {

  color: #fefae0;
  margin-top: 2%;
  text-align: center;
}

.post p {
  margin-bottom: 0;
  color: #fefae0;
  margin: 1%;
  text-align: center;
}

#post-2 img,
#post-1 img {
  width: 75%;
  margin-right: 25%;
  margin-left: 14%;
  margin-bottom: 25px;
}

.post p.preview {
  margin-top: 10%;
}

.read-more {
  text-align: right;
}

.read-more a {
  display: inline-block;
  background-color: #333;
  color: #fefae0;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 1vh;
}

.read-more a:hover {
  background-color: #fefae0;
  color: #606c38;
}

.hidden {
  display: none;
}

#post-3 {
  width: 35%;
}

.profile {
  margin: 10px;
  padding: 10px;
  text-align: center;
  color: #fefae0;
}

.profile .profile-img {
  width: auto;
  max-width: 40%;
  border-radius: 10%;
  box-shadow: 1px #0005;
  border: 1px solid #fefae0;
}

#post-4 {
  text-align: center;
  max-width: fit-content;
}

.btn a {
  display: inline-block;
  background-color: #283618;
  color: #fefae0;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 10%;
}

.btn a:hover {
  background-color: #fefae0;
  color: #606c38;
}

.dropdown {
  position: relative;
  text-align: center;
}

/* Style the dropdown button */
.dropdown-btn {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border-radius: 2vh;
  border: none;
  cursor: pointer;
  text-align: center;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  position: inherit;
  display: none;
  z-index: 1;
  margin-top: 10px;
  left: 0;
  right: 0;
  text-align: center;
}

/* Show the dropdown content when the dropdown button is clicked */
.dropdown:hover .dropdown-content {
  display: block;
  z-index: 1;
}

.dropdown-content a {
  max-width: inherit;
  display: inline-block;
  padding: 10px;
  background-color: #4caf50;
  color: black;
  text-decoration: none;
  text-align: center;
  z-index: 1;
}

.dropdown-content a:hover {
  background-color: #333;
  color: #ccc;
}

/* Style the content */
.content {
  display: none;
  padding: 20px;
  position: relative;
}

/* Show the selected content */
.content.active {
  display: block;
}


.map {
  max-width: 100%;
  box-shadow: 10px black;
  border-radius: 2vh;
}